php-server/node_modules
php-server/public/build
php-server/public/hot
php-server/public/storage
php-server/storage/*.key
php-server/vendor
php-server/.env
php-server/.env.backup
php-server/.env.production
php-server/.phpunit.result.cache
php-server/Homestead.json
php-server/Homestead.yaml
php-server/auth.json
php-server/npm-debug.log
php-server/yarn-error.log
php-server/.fleet
php-server/.idea
php-server/.vscode
php-server/.auth0.*.json